<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".NeoulApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Neoul"
        tools:targetApi="31">
        <activity
            android:name=".presentation.product.ProductActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.main.story.detail.StoryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.main.brand.detail.BrandDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.main.home.EventActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Splash Activity 추가-->
        <activity
            android:name=".presentation.main.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <!--Login Activity 추가-->
        <activity
            android:name=".presentation.user.user.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".presentation.user.user.LoginEmailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>



        <!--SignUp Activity 추가-->
        <activity
            android:name=".presentation.user.signup.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".presentation.user.signup.SignUpCheckActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".presentation.user.signup.CheckPrivacySignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".presentation.user.signup.SignUpFinishActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>




















    </application>

</manifest>