<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:name=".NeoulApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Neoul"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.product.ProductActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.main.story.detail.StoryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.main.brand.detail.BrandDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.main.home.EventActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.main.header.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.main.header.LikeListActivity"
            android:exported="false" />


        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="false"></activity>

        <!--Splash Activity 추가-->
        <activity
            android:name=".presentation.main.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--Login Activity 추가-->
        <activity
            android:name=".presentation.user.login.LoginEmailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".presentation.user.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="oauth"
                    android:scheme="kakaod333b474c3a293707baf0b7c410922c4" />
            </intent-filter>
        </activity>


        <!--SignUp Activity 추가-->
        <activity
            android:name=".presentation.user.signup.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".presentation.user.signup.SignUpCheckActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".presentation.user.signup.CheckPrivacySignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".presentation.user.signup.SignUpFinishActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <!--preference Activity 추가-->
        <activity
            android:name=".presentation.user.signup.PreferenceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--MyPageSetting Activity 추가-->
        <activity
            android:name=".presentation.main.my.setting.MyPageSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".presentation.main.my.setting.MyPageSettingChangeInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


    </application>


</manifest>